.input-group {
    position: relative;
    width: 300px; /* Điều chỉnh chiều rộng của input-group */
    margin: auto; /* Để căn giữa nếu muốn */
  }
  

  
  .search-btn {
    position: absolute;
    right: 1px; /* Khoảng cách từ biên phải của input-group */
    top: 50%; /* Đưa nút lên giữa theo chiều dọc */
    transform: translateY(-50%);
    background-color: #007bff; /* Màu nền của nút */
    color: white; /* Màu chữ của nút */
    border: none; /* Bỏ viền */
    padding: 7px 10px; /* Điều chỉnh padding cho phù hợp */
    cursor: pointer; /* Con trỏ khi di chuột qua nút */
  }
  

  .input-gr{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 25%;
    margin-bottom: 20px;
  }

  .form-gr{
    width: 25%;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  /* styles.css hoặc tệp CSS của bạn */
.description {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Hiển thị 5 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 550px;
}
