.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: #2c3e50; /* Màu nền xanh dương hiện đại */
  color: #ecf0f1; /* Màu chữ sáng */
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sidebar-brand {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.sidebar-nav-link {
  padding: 0.5rem 1rem;
  color: #ecf0f1; /* Màu chữ sáng */
  transition: background-color 0.3s ease;
}

.sidebar-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Màu nền khi hover */
}

.sidebar-nav-link i {
  margin-right: 10px;
}

.sidebar-heading {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: #ecf0f1; /* Màu chữ sáng */

}

.nav-item.active .sidebar-nav-link {
  background-color: rgba(255, 255, 255, 0.1); /* Màu nền khi mục đang hoạt động */
}

hr.sidebar-divider {
  border-top-color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem 0;
}

.navbar-nav {
  text-decoration: none; /* Bỏ gạch chân */
}

/* Dropdown chung */
.dropdown-section {
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}

.dropdown-section .sidebar-heading {
  color: #ecf0f1; /* Màu chữ sáng */
  font-weight: 400;
  padding: 5px 15px;
  transition: color 0.2s ease; /* Hiệu ứng chuyển đổi màu */
}

.dropdown-section .sidebar-heading:hover {
  color: #bdc3c7; /* Màu khi hover */
}

.dropdown-section .dropdown-menu {
  display: block;
  position: absolute;
  z-index: 1;
  width: 200px;
  border-radius: 5px;
  background-color: #34495e; /* Màu nền dropdown */
  margin-top: 5px;
  margin-left: 10px;
}

.dropdown-section .dropdown-item {
  color: #ecf0f1; /* Màu chữ sáng */
  padding: 10px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-section .dropdown-item:hover {
  background-color: #1abc9c; /* Màu nền khi hover */
  color: #ecf0f1; /* Màu chữ khi hover */
  font-weight: 450;
}

.dropdown-section .dropdown-item:last-child {
  border-bottom: none;
}

.font-icon {
  margin-left: 5px;
}

.margin-icon {
  margin-right: 10px;
  font-size: 15px;
}
